
body {
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    color: #24292e;
}

a {
    color: #24292e;
}

a.loading {
    background: transparent;
    color: #006792;
    text-decoration: none;
}

a.loading:hover {
    text-decoration: underline;
}

.top_h {
    margin-top: 0;
}

strong a {
    color: #5a3939;
}

strong {
    color: #5a3939;
}

input, select  {
    font-family: "Lucida Sans Unicode";
    color: #5a3939;
}

.main {
    display: flex;
    margin: 0 auto; /* Центрируем блоки */
}

#accounts_login {
    margin-left: 10px;
    margin-top: -10px;
}

#header {
    display: flex;
    height: 43px;
}

#header #branding {
    flex: 1 1 300px;
}

#header #header_menu {
    flex: 1 1 40%;
    padding-left: 15px;
}

#header #user_tools {
    flex: 2 1 40%;
    padding-left: 15px;
}

.categories {
    flex: 1 50 200px;
    display: block;
    border: 1px solid #cccccc87;
    padding: 5px 6px 6px 2px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-collapse: collapse;
}

.products {
    flex: 10 1 800px;
    display: block;
    padding: 0 0 0 10px;
}

a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

div.disabled {
    visibility: hidden;
    height: 0 !important;
}

#goods {
    height: 21px;
}

#goods_table a#cart_add {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

#header_cart {
    height: 20px;
    margin-top: 8px;
}

#header_table_order {
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

#header_order, #header_files_for_loading {
    margin-left: 10px
}

.control-group {
    padding-bottom: 7px
}

.control input,
.control select,
.control textarea  {
    border-width: 1px;
    padding-left: 3px;
    border-color: #cccccc87;
}

.control input[name="delivery"]{
    width: 105px;
}
.control select[name="payment"],
.control select[name="shipment"] {
    width: 115px;
}
.control input[name="receiver_bills"]{
    width: 174px;
}
.control select[name="customer"]{
    width: 303px;
}
div.control-group.has-errors label {
    color: orangered
}

ul.messages li.error {
    color: orangered
}

ul.errorlist {
    margin: 0;
    color: orangered
}

div#header_order td {
    padding-right: 20px;
}

input.form-control {
    height: 20px;
    width: 200px;
}

.control_wrapper {
    display: flex;
}

.control-group.payment, .control-group.shipment {
    padding-right: 10px;
}

div#goods_search {
    height: 27px;
}

#id_quantity {
    width: 165px;
}

input#only_stock, input#only_promo {
    top: 2px;
    position: relative;
}

#goods_table tr.goods_tr.not_relevant {
    color: #808080;
}

#goods_table tr.goods_tr.promo {
    color: #c52626;
}

div#loading_icon {
    background: url("../vendor/jstree/throbber.gif") left center no-repeat;
    width: 70px;
    height: 24px;
}

div#loading_icon span {
    position: relative;
    left: 20px;
    top: 3px;
}

.black-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.2;
    opacity: .20;
    filter: alpha(opacity=20);
}

.enter-quantity-wrapper {
    border: 1px solid #64aeeb;
    position: absolute;
    background: white;
    padding: 10px 14px 4px 18px;
    width: 192px;
    height: 85px;
    z-index: 1002;
    top: 50%;
    left: 50%;
    border-radius: 6px;
}

.form-image-wrapper {
    border: 1px solid #64aeeb;
    position: absolute;
    background: white;
    padding: 5px 5px 5px 5px;
    z-index: 1002;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    text-align: center;
}

.show-photo {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 12px;
    width: 100%;
    z-index: 10000;
}

.show-photo-close {
    text-align: left;
    padding-left: 5px;
}

.show-photo.close {
    background: url("../img/x.jpg") no-repeat 100% 50%;
    cursor: pointer;
    width: 12px;
}

#form_images .name {
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
}

input#btn_enter_quantity_cart {
    width: 80px;
    height: 26px;
}

a.order-create {
   text-decoration: none;
}

a.order-create.header {
    background: #fcffd1 url("../img/new_order.png") no-repeat 3px 3px;
    padding: 2px 2px 1px 16px;
}

a.order-create:hover {
    text-decoration: underline;
}

.current-tr {
    background-color: #fbe55e;
}

#ui-datepicker-div .ui-datepicker-header {
    background: white;
    border: none;
}

#ui-datepicker-div .ui-state-active {
    background: #fbe55e;
    border: 1px solid #c5c5c5;
    color: #24292e;
}

#id_delivery, #id_begin_date, #id_end_date {
    background: url("../img/cal.gif") no-repeat 100% 50%;
    cursor: pointer;
}

#search_code {
    background: url("../img/search_icon.png") no-repeat 100% 50%;
}

#id_begin_date, #id_end_date {
    width: 100px;
}

#list_filter {
    margin-bottom: 23px;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #cccccc45;
}

::-webkit-resizer{
    background: url('') no-repeat;
    width: 4px;
    height: 0
}

::-webkit-scrollbar{
}

.control_help_text {
    font-family: Consolas;
    color: #888888;
}

.help-tip{
    display: none;
    position: absolute;
    background: white;
    padding: 10px 14px 4px 18px;
    border: 1px solid #64aeeb;
    z-index: 1002;
    border-radius: 3px;
}

#branding a {
    font-family: 'Indie Flower';
    font-size: 25px;
    padding-left: 10px;
}

div.inf_created, .order_field {
    padding-top: 3px;
    padding-bottom: 3px;
}

span.inf_created, .order_field.status {
    background-color: #fcffd1;
    padding-right: 3px;
    padding-left: 3px;
}

div.inf_created {
    margin-left: 10px;
    margin-bottom: 10px;
}

span.inf_created {
    font-weight: bolder;
}

#links_bills_order {
    padding-bottom: 5px;
    margin-left: 10px;
}

.bill_for_loading {
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 24px;
    background: url("../img/pdf.png") no-repeat 2px 4px;
}

.file_for_loading_csv {
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 24px;
    background: url("../img/txt.png") no-repeat 2px 4px;
}

.file_for_loading_xlsx {
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 24px;
    background: url("../img/xlsx.png") no-repeat 2px 4px;
}

/* tree */

.jstree-default .jstree-hovered {
    background-color: #d7e7fb70 !important;
}

.jstree-default .jstree-clicked {
    background-color: #d7e7fb !important;
}

/* replace folder icons with another image, remove leaf image */
li.jstree-open > a .jstree-icon {background:url("../img/folder.png") 2px 3px no-repeat !important;}
li.jstree-closed > a .jstree-icon {background:url("../img/folder.png") 2px 3px no-repeat !important}
li.jstree-leaf > a .jstree-icon { background:url("../img/folder.png") 2px 3px no-repeat !important }

.jstree-default .jstree-clicked {
    border-radius: 6px !important;
}

.jstree-anchor>.jstree-themeicon {
    margin-right: 0 !important;
}

.ui-icon-gripsmall-diagonal-se {
    background-image: none!important;
}