
/* goods table */

#goods_table {
    height: 100%;
    overflow: auto;
}

.goods_hide {
    display: none;
}

#goods_table table {
    border-collapse: collapse;
    border-right: solid;
    border-right-color: #e8e9eb;
    border-right-width: 1px;
    border-left: solid;
    border-left-color: #e8e9eb;
    border-left-width: 1px;
}

#goods_table th div {
    position: absolute;
    margin-top: -20px;
    background: #FCED6C;
    font-weight: normal;
    height: 20px;
}

#goods_table {
    margin-top: 20px;
    border-collapse: collapse;
}

#goods_table td {
    padding: 7px 12px 7px 8px;
}

#goods_table tr {
    border-bottom: 1px solid #e8e9eb;
}

#goods_table tbody tr:hover {
    background: #FCED6C;
}

#goods_table th#goods_table_1 {
    min-width: 70px;
    max-width: 130px;
}

#goods_table td#goods_table_1 {
    min-width: 70px;
    max-width: 130px;
}

#goods_table th#goods_table_2 {
    min-width: 350px;
    max-width: 550px;
}

#goods_table td#goods_table_2 {
    min-width: 350px;
    max-width: 550px;
}

#goods_table th#goods_table_3 {
    width: 70px;
}

#goods_table td#goods_table_3 {
    text-align: right;
}

#goods_table th#goods_table_4 {
    width: 100px;
}

#goods_table td#goods_table_4 {
    text-align: right;
}

#goods_table th#goods_table_5 {
    width: 30px;
}

#goods_table th#goods_table_6 {
    width: 25px;
}

#goods_table td#goods_table_6 {
    text-align: center;
}

#goods_table th#goods_table_7 {
    width: 100px;
}

#goods_table td#goods_table_7 {
    text-align: right;
}

#goods_table th#goods_table_8 {
    width: 100px;
}

#goods_table td#goods_table_8 {
    text-align: right;
}

#goods_table th#goods_table_1 div {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: -1px;
    padding-right: 3px;
    text-align: left;
}

#goods_table th#goods_table_2 div {
    padding-right: 3px;
    text-align: left;
}

#goods_table th#goods_table_3 div {
    padding-right: 3px;
    text-align: right;
}

#goods_table th#goods_table_4 div {
    padding-right: 3px;
    text-align: right;
}

#goods_table th#goods_table_5 div {
    padding-right: 3px;
    text-align: center;
}

#goods_table th#goods_table_6 div {
    padding-right: 3px;
    text-align: center;
}

#goods_table th#goods_table_7 div {
    padding-right: 3px;
    text-align: right;
}

#goods_table th#goods_table_8 div {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 1px;
    text-align: right;
}

#goods_table th#goods_table_1 span {
    padding-left: 7px;
}

#goods_table th#goods_table_2 span {
    padding-left: 7px;
}

#goods_table th#goods_table_3 span {
    padding-right: 10px;
}

#goods_table th#goods_table_4 span {
    padding-right: 12px;
}

#goods_table th#goods_table_7 span {
    padding-right: 12px;
}

#goods_table th#goods_table_8 span {
    padding-right: 10px;
}

#goods_table .goods_code.img {
    background: url("../img/image.png") no-repeat 100% 50%;
    padding-right: 25px;
    margin-right: -10px;
    cursor: pointer;
}

/* goods cart */

#goods_cart {
    height: 0;
    overflow: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

#goods_cart table {
    border-collapse: collapse;
    border-right: solid;
    border-right-color: #e8e9eb;
    border-right-width: 1px;
    border-left: solid;
    border-left-color: #e8e9eb;
    border-left-width: 1px;
}

#goods_cart th div {
    position: absolute;
    margin-top: -20px;
    background: #d7e7fb;
    font-weight: normal;
    height: 20px;
}

#goods_cart td {
    padding: 7px 12px 7px 8px;
}

#goods_cart tr {
    border-bottom: 1px solid #e8e9eb;
}

#goods_cart tbody tr:hover {
    background: #d7e7fb;
}

#goods_cart th#cart_table_1 {
    min-width: 70px;
    max-width: 130px;
}

#goods_cart td.cart_table_1 {
    min-width: 70px;
    max-width: 130px;
}

#goods_cart th#cart_table_2 {
    min-width: 350px;
    max-width: 550px;
}

#goods_cart td.cart_table_2{
    min-width: 350px;
    max-width: 550px;
}

#goods_cart th#cart_table_3 {
    width: 85px;
}

#goods_cart td.cart_table_3 {
    text-align: right;
}

#goods_cart th#cart_table_4 {
    width: 100px;
}

#goods_cart td.cart_table_4 {
    text-align: right;
}

#goods_cart th#cart_table_5 {
    width: 100px;
}

#goods_cart td.cart_table_5 {
    text-align: right;
}

#goods_cart th#cart_table_6 {
    width: 30px;
}

#goods_cart td.cart_table_6 {
}

#goods_cart th#cart_table_7 {
    width: 100px;
}

#goods_cart td.cart_table_7 {
    text-align: right;
}

#goods_cart th#cart_table_8 {
    width: 26px;
}

#goods_cart td.cart_table_8 {
    width: 26px;
}

#goods_cart td.cart_table_8 a {
    color: #979797;
    text-decoration: none;
}

#goods_cart th#cart_table_1 div {
    margin-left: -1px;
    padding-right: 3px;
    text-align: left;
}

#goods_cart th#cart_table_2 div {
    padding-right: 3px;
    text-align: left;
}

#goods_cart th#cart_table_3 div {
    padding-right: 3px;
    text-align: right;
}

#goods_cart th#cart_table_4 div {
    padding-right: 3px;
    text-align: right;
}

#goods_cart th#cart_table_5 div {
    padding-right: 3px;
    text-align: right;
}

#goods_cart th#cart_table_6 div {
    padding-right: 3px;
    text-align: center;
}

#goods_cart th#cart_table_7 div {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 5px;
    padding-right: 1px;
    text-align: right;
}

#goods_cart th#cart_table_8 div {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-right: 3px;
    text-align: left;
}

#goods_cart th#cart_table_1 span {
    padding-left: 7px;
}

#goods_cart th#cart_table_2 span {
    padding-left: 7px;
}

#goods_cart th#cart_table_3 span {
    padding-right: 5px;
}

#goods_cart th#cart_table_4 span {
    padding-right: 12px;
}

#goods_cart th#cart_table_5 span {
    padding-right: 12px;
}

#goods_cart th#cart_table_7 span {
    padding-right: 12px;
}

#goods_cart th#cart_table_8 span {
    padding-left: 7px;
}

.cart_table_3_box {
    display: flex;
}

.cart_table_3_box_add {
    flex: 1 1 0;
    color: #979797;
    padding-right: 10px;
}

.cart_table_3_box_reduce {
    flex: 1 1 0;
    color: #979797;
}

.cart_table_3_box_quantity {
    flex: 5 5;
}

/* list orders */

#list_orders {
    height: 0;
    overflow: auto;
}

#list_orders table {
    border-collapse: collapse;
    border-right: solid;
    border-right-color: #e8e9eb;
    border-right-width: 1px;
    border-left: solid;
    border-left-color: #e8e9eb;
    border-left-width: 1px;
}

#list_orders th div {
    position: absolute;
    margin-top: -20px;
    background: #FCED6C;
    font-weight: normal;
    height: 20px;
}

#list_orders {
    margin-top: 20px;
    border-collapse: collapse;
}

#list_orders td {
    padding: 7px 12px 7px 8px;
}

#list_orders tr {
    border-bottom: 1px solid #e8e9eb;
}

#list_orders tbody tr:hover {
    background: #FCED6C;
}

#list_orders th#orders_table_1 {
    min-width: 140px;
    max-width: 160px;
}

#list_orders th#orders_table_2 {
    width: 80px;
}

#list_orders td.orders_table_2.img_pdf {
    background: url("../img/pdf.png") no-repeat 88% 50%;
    padding-right: 24px;
}

#list_orders th#orders_table_3 {
    min-width: 180px;
    max-width: 250px;
}

#list_orders th#orders_table_4 {
    min-width: 95px;
    max-width: 120px;
}

#list_orders td.orders_table_4 {
    text-align: right;
}

#list_orders th#orders_table_5 {
    width: 60px;
}

#list_orders th#orders_table_6 {
    width: 100px;
}

#list_orders th#orders_table_7 {
    width: 100px;
}

#list_orders th#orders_table_8 {
    width: 110px;
}

#list_orders th#orders_table_9 {
    min-width: 150px;
    max-width: 250px;
}

#list_orders th#orders_table_1 div {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 5px;
    margin-left: -1px;
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_2 div {
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_3 div {
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_4 div {
    padding-right: 3px;
    text-align: right;
}

#list_orders th#orders_table_5 div {
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_6 div {
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_7 div {
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_8 div {
    padding-right: 3px;
    text-align: left;
}

#list_orders th#orders_table_9 div {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 5px;
    padding-right: 1px;
    text-align: left;
}

#list_orders th#orders_table_1 span {
    padding-left: 7px;
}

#list_orders th#orders_table_2 span {
    padding-left: 7px;
}

#list_orders th#orders_table_3 span {
    padding-left: 7px;
}

#list_orders th#orders_table_4 span {
    padding-right: 12px;
}

#list_orders th#orders_table_5 span {
    padding-left: 7px;
}

#list_orders th#orders_table_6 span {
    padding-left: 7px;
}

#list_orders th#orders_table_7 span {
    padding-left: 7px;
}

#list_orders th#orders_table_8 span {
    padding-left: 7px;
}

#list_orders th#orders_table_9 span {
    padding-left: 7px;
}