{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}
{% block header %}{% include "header/header.html" %}{% endblock %}

{% block content %}
<div id="products" class="column products">
    {% include "cart/cart.html" %}
    <div id="form_create_order">
        {% for field_error in form.non_field_errors %}
            <div class="alert alert-danger">{{ field_error }}</div>
        {% endfor %}
        <form action="." method="post" class="order-form">
            {% csrf_token %}
            <fieldset style="border: none;">
                {% for field in form %}
                    {% if field.name == 'payment' or field.name == 'shipment' %}
                        <div class="control_wrapper"> {% endif %}
                    <div class="control-group {{field.name}}{% if field.errors %} has-errors{% endif %}">
                        <label class="control-label {{field.name}}">{{ field.label }}</label>
                        <div class="control">
                            {{ field }} <span class="control_help_text">{{ field.help_text }}</span>
                        </div>
                        {{ field.errors }}
                    </div>
                    {% if field.name == 'receiver_bills' or field.name == 'delivery' %} </div> {% endif %}
                {% endfor %}
                <p><input id="btn_create_order" type="submit" value="Разместить заказ"></p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
