{% load format %}

<div id="header_order">
    <h3>Заказ N {{ order.id }} от {{ order.date }}</h3>
    <table>
        <tr>
            <td valign="top" width="75%">
                Срок поставки: <strong>{{ order.delivery }}</strong>
                <p>Тип доставки: <strong>{{ order.shipment }}</strong></p>
                <p>Форма оплаты: <strong>{{ order.payment }}</strong></p>
                <p>Комментарий: <strong>{{ order.comment }}</strong></p>
            </td>
            <td valign="top" width="25%">
                <div id="order_status">Статус: <strong>{{ order.status }}</strong></div>
            </td>
        </tr>
    </table>
</div>