{% load format %}
<div id="list_orders">
    <table>
        <colgroup>
            <col>
            <col style="background:#fcffd1;">
            <col>
            <col style="background:#fcffd1">
            <col>
            <col>
            <col>
            <col style="background:#fcffd1">
            <col>
        </colgroup>
        <thead style="background: #ffffff;">
        <tr>
            <th id="orders_table_1" class="left-radius">
                <div><span>Дата</span></div>
            </th>
            <th id="orders_table_2">
                <div><span>Номер</span></div>
            </th>
            <th id="orders_table_3">
                <div><span>Покупатель</span></div>
            </th>
            <th id="orders_table_4">
                <div><span>Сумма</span></div>
            </th>
            <th id="orders_table_5">
                <div><span>Вал.</span></div>
            </th>
            <th id="orders_table_6">
                <div><span>Отправка</span></div>
            </th>
            <th id="orders_table_7">
                <div><span>Срок</span></div>
            </th>
            <th id="orders_table_8">
                <div><span>Статус</span></div>
            </th>
            <th id="orders_table_9" class="right-radius">
                <div><span>Комментарий</span></div>
            </th>
        </tr>
        </thead>
        {% for order in orders_list %}
            <tr style="cursor: pointer;" onclick="doNav('{{ order.id }}')">
                <td class="orders_table_1">{{ order.date|date:'d.m.Y H:i' }}</td>
                <td class="orders_table_2{% if order.is_bill %} img_pdf{% endif %}">{{ order.id }}</td>
                {% if user.is_authenticated and user.person.permit_all_orders %}
                    <td class="orders_table_3">{{ order.customer }}<br>{{ order.person }}</td>
                {% else %}
                    <td class="orders_table_3">{{ order.customer }}</td>
                {% endif %}
                <td class="orders_table_4"> {{ order.get_total_cost|format:"{0:.2f}" }}</td>
                <td class="orders_table_5">руб.</td>
                <td class="orders_table_6">{{ order.shipment }}</td>
                <td class="orders_table_7">{{ order.delivery|date:'d.m.Y' }}</td>
                <td class="orders_table_8">{{ order.status }}</td>
                <td class="orders_table_9">{{ order.comment }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
