{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {% include "header/header.html" %}
{% endblock %}

{% block content %}

    <div id="products" class="column products">
        <div id="list_filter" class="control">
            <label class="control-label">Период:</label>
            {{ form.begin_date }} <label class="control-label">-</label>
            {{ form.end_date }}
        </div>
        {% include "orders/list_orders_table.html" %}
    </div>

{% endblock %}