{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {% include "header/header.html" %}
{% endblock %}

{% block content %}

    <div id="products" class="column products">
        {% if created %}
            <div class="inf_created">
                <span class="inf_created">Спасибо, Ваш заказ успешно сформирован.</span>
                {% if order.payment == 'Безналичные' and not order.receiver_bills == '' %}
                    <span class="inf_created">
                        Счета на оплату появятся на этой странице.
                    </span>
                {% endif %}
                <br>
            </div>
        {% endif %}
        {% include "orders/header_order.html" %}
        {% include "orders/links_bills_order.html" %}
        {% include "orders/goods_order.html" %}
    </div>

{% endblock %}