{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {% include "header/header.html" %}
{% endblock %}

{% block content %}

    <div id="products" class="column products">
        {% if debug %}
            <a href="{% url 'order_request' order.id %}">Выгрузить в 1с</a>
        {% endif %}
        {% if created %}
            <p style="color: red">
                Спасибо, Ваш заказ успешно сформирован. Ожидайте, Мы с Вас свяжемся.
            </p>
        {% endif %}
        {% include "orders/header_order.html" %}
        {% include "orders/goods_order.html" %}
    </div>

{% endblock %}