{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {% include "header/header.html" %}
{% endblock %}

{% block content %}

<div id="products" class="column products">
    <div id="accounts_login">
        <form action="{% url 'account_password_change' %}" method="post">
            {% csrf_token %}
            {% if change_password %}
                <p>Рекомендуется изменить пароль на новый.</p>
            {% endif %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close"
                               onclick="jQuery('.{{ message.tags }}').css('display','none')">✖</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ form.as_p }}</p>
            <input type="submit" value="Изменить пароль" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock %}