{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block head %}
{% include "header.html" %}
{% endblock %}

{% block content %}

<div id="goods_table">
    <div id="accounts_login">
        <form action="{% url 'account_password_reset' %}" method="post">
            {% csrf_token %}
            {% if errors %} {{ form.email.errors }} {% endif %}
            <p>Укажите ваш email для восстановления пароля.</p>
            <p>{{ form.as_p }}</p>
            <input type="submit" value="Выслать пароль на почту" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock %}