{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block head %}
{% include "header.html" %}
{% endblock %}

{% block content %}

<div id="goods_table">
    <div id="accounts_login">
        <form action="{% url 'account_password_change' %}" method="post">
            {% csrf_token %}
            {% if change_password %}
                <p>При первом входе рекомендуется изменить пароль на новый.</p>
            {% endif %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">✖</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ form.as_p }}</p>
            <input type="submit" value="Изменить пароль" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock %}