.gitignore
/san_site/migrations/
/Project/settings_local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/Environment/
/celerybeat-schedule.dat
/celerybeat-schedule.bak
/celerybeat-schedule.dir
