.gitignore
/san_site/migrations/
/Project/settings_local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/Virtualenv/
/pid/

.idea/
/celery/celerybeat-schedule.bak
/celery/celerybeat-schedule.dat
/celery/celerybeat-schedule.dir
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

*.pid
/san_site/static/files_for_loading/
/pid/server_nginx.pid
/pid/server_api.pid
/pid/server_beat.pid
/pid/server_flower.pid
/pid/server_worker.pid
/pid/celerybeat.pid
