.gitignore
/san_site/migrations/
/san_rest_api/migrations/
/Project/settings_local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/logs/
/pid/

.idea/
/celery/celerybeat-schedule.bak
/celery/celerybeat-schedule.dat
/celery/celerybeat-schedule.dir

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

*.pid
/san_site/static/files_for_loading/
