[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2 = "==2.8.3"
psutil = "==5.6.3"
pywin32 = "==224"

[packages]
amqp = "==2.5.1"
billiard = "==3.6.1.0"
celery = "==4.3.0"
certifi = "==2019.6.16"
chardet = "==3.0.4"
cheroot = "==6.5.8"
djangorestframework = "==3.10.3"
dnspython = "==1.16.0"
eventlet = "==0.25.1"
flower = "==0.9.3"
greenlet = "==0.4.15"
idna = "==2.8"
kombu = "==4.6.4"
monotonic = "==1.5"
more-itertools = "==7.2.0"
pipdeptree = "==0.13.2"
portend = "==2.5"
python-dateutil = "==2.8.0"
pytz = "==2019.2"
requests = "==2.22.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
tempora = "==1.14.1"
tornado = "==5.1.1"
urllib3 = "==1.25.3"
vine = "==1.3.0"
Babel = "==2.7.0"
"backports.functools_lru_cache" = "==1.5"
Django = "==2.2.8"
"jaraco.functools" = "==2.0"
"zc.lockfile" = "==2.0"
pillow = "*"
pip = "==19.2.3"
setuptools = "==41.2.0"
openpyxl = "*"
psycopg2-binary = "*"
gunicorn = "*"
redis = "*"

[requires]
python_version = "3.7"
