<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Облачная система заказов{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/style.min.css' %}">
</head>
<body>
{% block head %}{% endblock %}
<div class="main">
    <div id="categories" class="column categories">
    </div>
    <div id="products" class="column products">
        {% block content %}{% endblock %}
     </div>
</div>

<script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/jstree.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>

</body>
</html>