<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Santex.b2b-commerce{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}?r={{ random_css }}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}?r={{ random_css }}">
    <link rel="stylesheet" href="{% static 'vendor/jquery/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jstree/style.min.css' %}">
    <link rel="icon" href="../static/img/python.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
{% block header %}{% endblock %}
<div class="main">
    <div id="categories" class="column categories"></div>
    {% block content %}{% endblock %}
</div>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery/jquery.ui.datepicker-ru.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jstree/jstree.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}?r={{ random_css }}" type="text/javascript"></script>
    <script src="{% static 'js/index.js' %}?r={{ random_css }}" type="text/javascript"></script>
    <script src="{% static 'js/widget.js' %}?r={{ random_css }}" type="text/javascript"></script>
</body>
</html>