{% load format %}
<div id="goods_cart">
    <table>
        <colgroup>
            <col style="background:#beebff;">
            <col>
            <col style = "background:#beebff">
        </colgroup>
        <thead style="background: #ffffff;">
            <tr id="tr_cart_head">
                <th align=left id="cart_table_1"><div>Артикул</div></th>
                <th align=left id="cart_table_2"><div>Наименование товара</div></th>
                <th align=left id="cart_table_3"><div>Кол-во</div></th>
                <th align=left id="cart_table_4"><div>Цена</div></th>
                <th align=left id="cart_table_5"><div>Сумма</div></th>
                <th align=left id="cart_table_6"><div>Вал.</div></th>
                <th align=left id="cart_table_7"><div>Всего руб.</div></th>
            </tr>
        </thead>
        {% for goods in goods_list %}
            {% include "tr_cart.html" %}
        {% endfor %}
    </table>
</div>