{% load format %}
<div id="goods_table">
    <table>
    <colgroup>
        <col style="background:#beebff;">
        <col>
        <col style = "background:#beebff">
    </colgroup>
        <thead style="background: #ffffff;">
            <tr id="tr_goods_head">
                <th align=left id="goods_table_1"><div>Артикул</div></th>
                <th align=left id="goods_table_2"><div>Наименование товара</div></th>
                <th align=left id="goods_table_3"><div>Остаток</div></th>
                <th align=left id="goods_table_4"><div>Цена</div></th>
                <th align=left id="goods_table_5"><div>Вал.</div></th>
            </tr>
        </thead>
        {% for goods in goods_list %}
            <tr id={{ goods.url_tr_good }}>
                <td id="goods_table_1">{{ goods.code }}</td>
                <td id="goods_table_2">{{ goods.name }}</td>
                <td id="goods_table_3" align=right>{{ goods.quantity }}</td>
                <td id="goods_table_4" align=right>{{ goods.price|format:"{0:.2f}" }}</td>
                <td id="goods_table_5">{{ goods.currency }}</td>
            </tr>
        {% endfor %}
    </table>
</div>