<div id="products" class="column products">
    <div id="loading_icon" class="disabled">
        <span>Loading ...</span>
    </div>
    <div id="goods"><strong>Выберите категорию товаров...</strong></div>
    {% include "goods/goods_search.html" %}
    {% include "goods/goods_table.html" %}
    {% if user.is_authenticated and user.person.allow_order %}
        <div id="form_enter_quantity"></div>
        <div id="form_images"></div>
        {% include "cart/cart.html" %}
    {% else %}
        <div id="form_images"></div>
    {% endif %}
</div>
