<div id="header">
    <div id="branding">
        <h1><a href="/">Santex's e-Commerce</a></h1>
    </div>
    <div id="header_menu">
        <a href="{% url 'order_list' %}">Список заказов</a> |
        <a href="/">Скачать excel</a> |
        <a href="{% url 'account_password_change' %}">Поменять пароль</a> |
        <a href="{% url 'account_logout' %}">Выйти</a>
    </div>
    <div id="user_tools">
    {% if not user.is_authenticated %}
        <a id="user-tools-accounts-login" href="{% url 'account_login' %}">
            Авторизуйтесь, чтобы видеть ваши цены и делать заказы
        </a>
    {% else %}
        Добро пожаловать, <strong>{{ user.username }}</strong>
    {% endif %}
    </div>
</div>
