{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {% include "header/header.html" %}
{% endblock %}

{% block content %}

    <div id="products" class="column products">
        <div id="header_files_for_loading">
            <h3 class="top_h">Вы можете использовать наш API для того, чтобы</h3>
            <ul>
                <li>
                    скачивать остатками в нужном формате БЕЗ АВТОРИЗАЦИИ и входа на сайт
                </li>
                <li>
                    запросить у нас необходимый вашей системе API интерфейс.
                </li>
            </ul>
            <h3>Прямые ссылки на файлы с вашим UID ключом</h3>
            {% if files|length > 0 %}
                {% for file in files %}
                    <div class="file_for_loading">
                        <a class="loading" href="{{ file.url }}"> {{ file.url }} </a>
                    </div>
                {% endfor %}
            {% else %}
                Файлы для скачивания еще не созданы.
            {% endif %}
            <p>
                <h5>UID - ваш секретный ключ</h5>
                {% if uid != 'xxx' %}
                    {{ uid }} <span class="control_help_text">   - ваш UID, служит для авторизации запросов</span>
                {% else %}
                    Ваш ключ еще не создан.
                {% endif %}
            </p>
            <p>
                <h5>TYPE - тип файла с остатками и ценами</h5>
                xlsx <span class="control_help_text"> - для полученния файла в формате EXCEL (Microsoft Office Excel)</span><br>
                csv <span class="control_help_text"> - для полученния файла в формате CSV (значения разделенные точкой с запятой)</span>
            </p>
        </div>
    </div>

{% endblock %}