<div id="header">
    <div id="branding">
        <b><a class="order-create button" href="/">Santex.B<span style="font-size: smaller">2</span>B-commerce</a></b><br>
        <div style="margin-top: 5px;">Каталог товаров:</div>
    </div>
    <div id="header_menu">
        {% if user.is_authenticated %}
            {% if user.person.allow_order %}
                <a href="{% url 'order_list' %}">Список заказов</a> |
            {% endif %}
            <a href="/">Остатки и цены в excel</a> |
            <a href="{% url 'account_password_change' %}">Поменять пароль</a> |
            <a href="{% url 'account_logout' %}">Выйти</a>
        {% endif %}
    </div>
    <div id="user_tools">
        <div id="account_login">
            {% if not user.is_authenticated %}
                <a id="user-tools-accounts-login" href="{% url 'account_login' %}">
                    Войти, чтобы видеть ваши цены и делать заказы
                </a>
            {% else %}
                Добро пожаловать, <strong>{{ user.get_full_name }}</strong>
            {% endif %}
        </div>
        {% if not user.is_authenticated %}{% else %}
            {% include "header/user_tools_cart.html" %}
        {% endif %}
    </div>
</div>
