<div id="header">
    <div id="header_menu">
        {% if not user.is_authenticated %}
            <a id="user-tools-accounts-login" href="{% url 'account_login' %}">
                Войдите в b2b.santex, чтобы видеть ваши цены и делать заказы
            </a>
        {% else %}
            Добро пожаловать в b2b.santex, <strong>{{ user.get_full_name }}</strong>
        {% endif %}
    </div>
    {% if not user.is_authenticated %}{% else %}
        {% include "header/user_tools_cart.html" %}
    {% endif %}
</div>
