<div id="header">
    <div id="header_menu">
        {% if not user.is_authenticated %}
            <a id="user-tools-accounts-login" href="{% url 'account_login' %}">
                Войти, чтобы видеть ваши цены и делать заказы
            </a>
        {% else %}
            {% if not user.is_authenticated %}{% else %}
                {% include "header/user_tools_cart.html" %}
            {% endif %}
            <a href="{% url 'index' %}">Каталог</a> |
            {% if user.person.allow_order %}
                <a href="{% url 'order_list' %}">Документы</a> |
            {% endif %}
            <a href="{% url 'files_for_loading' %}">Материалы</a> |
            <a href="{% url 'our_api' %}">API</a> |
            <a href="{% url 'account_password_change' %}">Поменять пароль</a> |
            <a href="{% url 'account_logout' %}">Выйти</a>
        {% endif %}
    </div>
</div>
