{% load format %}
<div id="user_cart" style="height: 22px;">
    Добро пожаловать, <strong>{{ user.get_full_name }}</strong>.
    {% with total_items=cart|length %}
        {% if not user.person.allow_order %}
            Нет прав делать заказы.
        {% elif cart|length > 0 %}
            <a class="order-create header" href="{% url 'order_create' %}">&nbsp;
                Разместить заказ на сумму <strong>{{ cart.get_total_cost|format:"{0:.2f}" }} руб.</strong>&nbsp;</a>
        {% else %}
            Текущий заказ пустой.
        {% endif %}
    {% endwith %}
</div>