{% load format %}
<div id="user_cart" style="height: 22px;">
    <a href="{% url 'index' %}">Каталог</a> |
    {% if user.person.allow_order %}
        <a href="{% url 'order_list' %}">Документы</a> |
    {% endif %}
    <a href="{% url 'files_for_loading' %}">Материалы</a> |
    <a href="{% url 'our_api' %}">API</a> |
    <a href="{% url 'account_password_change' %}">Поменять пароль</a> |
    <a href="{% url 'account_logout' %}" style="margin-right: 10px">Выйти</a>
    {% with total_items=cart|length %}
        {% if not user.person.allow_order %}
            Нет прав делать заказы.
        {% elif cart|length > 0 %}
            <a class="order-create header" href="{% url 'order_create' %}">&nbsp;
                Разместить заказ на сумму <strong>{{ cart.get_total_cost|format:"{0:.2f}" }} руб.</strong>&nbsp;</a>
        {% else %}
        {% endif %}
    {% endwith %}
</div>
