{% load format %}
<div id="goods_cart">
    <table>
        <colgroup>
            <col style="background:#beebff;">
            <col>
            <col style = "background:#beebff">
        </colgroup>
        <thead style="background: #ffffff;">
        <tr>
            <th align=left id="cart_table_1">
                <div><span>Артикул</span></div>
            </th>
            <th align=left id="cart_table_2">
                <div><span>Наименование товара</span></div>
            </th>
            <th align=left id="cart_table_3">
                <div><span>Кол-во</span></div>
            </th>
            <th align=left id="cart_table_4">
                <div><span>Цена</span></div>
            </th>
            <th align=left id="cart_table_5">
                <div><span>Сумма</span></div>
            </th>
            <th align=left id="cart_table_6">
                <div><span>Вал.</span></div>
            </th>
            <th align=left id="cart_table_7">
                <div><span>Всего руб.</span></div>
            </th>
            </tr>
        </thead>
        {% for goods in cart.get_cart_list %}
            {% include "cart/tr_cart.html" %}
        {% endfor %}
    </table>
</div>