{% load format %}
<div id="goods_cart">
    <table>
        <colgroup>
            <col>
            <col style="background:#e7f4f9;">
            <col>
            <col style="background:#e7f4f9">
        </colgroup>
        <thead style="background: #ffffff;">
        <tr>
            <th align=center id="cart_table_8">
                <div><span>N</span></div>
            </th>
            <th align=left id="cart_table_1">
                <div><span>Артикул</span></div>
            </th>
            <th align=left id="cart_table_2">
                <div><span>Наименование товара</span></div>
            </th>
            <th align=left id="cart_table_3">
                <div><span>Количество</span></div>
            </th>
            <th align=left id="cart_table_4">
                <div><span>Цена</span></div>
            </th>
            <th align=left id="cart_table_5">
                <div><span>Сумма</span></div>
            </th>
            <th align=left id="cart_table_6">
                <div><span>Вал.</span></div>
            </th>
            <th align=left id="cart_table_7">
                <div><span>В рублях</span></div>
            </th>
            </tr>
        </thead>
        {% for goods in cart.get_cart_list %}
            {% include "cart/tr_cart.html" %}
        {% endfor %}
    </table>
</div>