<td class="cart_table_3" id="td_cart_quantity{{ goods.guid }}">
    <div class="cart_table_3_box">
        <div title="Увеличить на 1 шт."
             class="cart_table_3_box_add" onclick="addQuantityCart('{{ goods.guid }}')" style="cursor: pointer;">
            +
        </div>
        <div title="Уменьшить на 1 шт."
             class="cart_table_3_box_reduce" onclick="reduceQuantityCart('{{ goods.guid }}')" style="cursor: pointer;">
            -
        </div>
        <div class="cart_table_3_box_quantity">
            {{ goods.quantity }}
        </div>
    </div>
</td>
