{% load format %}

<tr id="tr_cart{{ goods.guid }}">
    <td class="cart_table_8">{{ goods.number }}&nbsp;<a title="Удалить строку"
                                                        href="javascript:void(0)"
                                                        onclick="deleteRowCart('{{ goods.guid }}')">x</a></td>
    <td class="cart_table_1">{{ goods.code }}</td>
    <td class="cart_table_2">{{ goods.name }}</td>
    {% include "cart/td_cart_quantity.html" %}
    <td class="cart_table_4" align=right>{{ goods.price|format:"{0:.2f}" }}</td>
    {% include "cart/td_cart_total_price.html" %}
    <td class="cart_table_6">{{ goods.currency }}</td>
    {% include "cart/td_cart_total_price_ruble.html" %}
</tr>