{% load format %}
<div id="goods_table">
    <table>
    <colgroup>
        <col style="background:#beebff;">
        <col>
        <col style = "background:#beebff">
    </colgroup>
        <thead style="background: #ffffff;">
        <tr>
            <th id="goods_table_1">
                <div><span>Артикул</span></div>
            </th>
            <th id="goods_table_2">
                <div><span>Наименование товара</span></div>
            </th>
            <th id="goods_table_3">
                <div><span>Остаток</span></div>
            </th>
            <th id="goods_table_4">
                <div><span>Цена</span></div>
            </th>
            <th id="goods_table_5">
                <div><span>Вал.</span></div>
            </th>
            <th id="goods_table_6">
                <div><span>%</span></div>
            </th>
            <th id="goods_table_7">
                <div><span>Ваша цена</span></div>
            </th>
            </tr>
        </thead>
        {% for goods in goods_list %}
            <tr>
                <td id="goods_table_1">{{ goods.code }}</td>
                <td id="goods_table_2">{{ goods.name }}</td>
                <td onclick="addCart('{{ goods.guid }}')" id="goods_table_3" align=right style="cursor: pointer;">
                    {{ goods.quantity }}
                </td>
                <td id="goods_table_4" align=right>{{ goods.price|format:"{0:.2f}" }}</td>
                <td id="goods_table_5">{{ goods.currency }}</td>
                <td id="goods_table_6" align=center>{{ goods.percent|format:"{0:.2f}" }}</td>
                <td id="goods_table_7" align=right>{{ goods.discount|format:"{0:.2f}" }}</td>
            </tr>
        {% endfor %}
    </table>
</div>